@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}
/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}
/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}
/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}
/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}
/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300; 
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}
/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/* Body */
body{
	margin: inherit;
    font-family: "SF Display";
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

/* Top Nav Bar */
#navbar {
	/*Nav Bar*/
    z-index: 1;
	margin-top: 0;
    height: 25%;
	width: 100%;
	overflow: hidden;
	background-color: white;
	box-shadow: 0px -10px 50px 15px hsla(0,0%,0%,0.60);
}
@media (min-height: 300px) {
	#navbar {
		position: sticky;
		top: 0;
	}
}


/* Zander Title */
.active {
	float: left;
	text-align: center;
	color: black;
	padding: 5px;
	font-size: 33px;
	font-weight: 800;
	text-decoration: none;
	transition: 0.1s ease;
	text-shadow: 0px 0px 5px hsla(0,0%,0%,0.2);
}
.active:hover {
	text-shadow: 1px 1px red;
	text-shadow: 0px 0px 5px hsla(0,0%,0%,0.1);
	transition: 0.12s ease;
    transform: scale(1.05);
    background: linear-gradient(90deg, #18caff, #ff6464, #2f5bb6, #f9cd8f, #f37cff, #7cff8c, #890077, #51d4c3);
    background-size: 1600% 1600%;
    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}

/* Dropdown Menu */
.dropmenu {
	float: left;
	overflow: hidden;
	
}

/* Button */
.menu {
	font-size: 25px;
	border: none;
	outline: none;
	color: black;
	padding: 10px 10px 18px 10px;
	background-color: inherit;
	font-family: inherit;
	transition: 0.1s ease;
	margin-top: auto;
	margin: 0;
}
.menu:hover {
	background-color: black;
	color: white;
}

/* Pages */
.dropmenu-content {
	display: none;
  	position: fixed;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
	border-radius: 0px 0px 5px 0px;
}
.dropmenu-content a {
	display: block;
	float: none;
	padding: 14px;
	color: black;
	font-size: 22px;
	font-weight: 800;
	font-family: inherit;
	text-decoration: none;
	text-align: left;
	text-shadow: 0px 0px 20px hsla(0,0%,0%,0.35);
}
.btlink:hover {
	border-radius: inherit;
}
.dropmenu-content a:hover {
	color: white;
	transition: 0.1s ease;
	background-color: black;
	
}
.dropmenu:hover .dropmenu-content {
	display: block;
	box-shadow: 0px 0px 50px 15px hsla(0,0%,0%,0.35);
}

/* Social Media */
#social {
}
#social a {
	margin-left: 1px;
	z-index: 1;
  	text-align: center;
  	transition: 0.1s ease;
  	color: white;
  	font-size: 45px;
	text-decoration: none;
}
#social a:hover {
    font-size: 50px;
}

/* Search Bar */
#navbar input[type=text] {
	float: right;
	padding: 6px;
	border: 2px solid black;
	margin-top: -45px;
	margin-right: 16px;
	margin-bottom: 10px;
	font-family: "SF Pro Display", "SF Pro Text";
	font-size: 18px;
	font-weight: 700;
	background-color: #e8e8e8;
	padding-right: 45px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0.5px hsla(0,0%,0%,0.25);
}
.search-button button {
	position: relative;
	float: right;
	padding: 8px 12px;
	margin-top: -45px;
	margin-right: -275px;
	background: none;
	font-size: 17px;
	border: none;
	cursor: pointer;
	color: white;
	background-color: black;
	border-radius: 0px 5px 5px 0px;
}
.search-button button:hover {
	color: black;
	background-color: white;
	transition: 0.1s ease;
}
@media screen and (max-width: 600px) {
	.topnav .search-container {
		float: none;
        border: none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
    }
}

/* Title */
h1{
    margin: 0;
	padding: 60px 0px 0px 0px;
	text-align: center;
	font-size: 72px;
	color: white;
}
h2{
    margin: 0;
    font-weight: bolder;
    color: white;
	margin-top: 0px;
	text-align: center;
	padding: 0px 0px 60px 0px;
}
.forest{
	background-image: url("Photos/Forest.jpg");
    background-repeat: no-repeat;
	background-position: 50% -250px;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    z-index: -1;
    width: 100%;
    bottom: 0;
    display: inline-block;
}

/* Photos */
.tcphotos {
    margin: 0;
    border: none;
    background-color: white;
}
.images-title {
    margin: 0 25% 0 17%;
    padding-top: 55px;
    text-align: left;
    color: white;
    font-size: 65px;
    font-weight: bolder;
    background: linear-gradient(90deg, #18caff, #ff6464, #2f5bb6, #f9cd8f, #f37cff, #7cff8c, #890077, #51d4c3);
    background-size: 1600% 1600%;
    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.images-subtitle {
    margin: 0 25% 0 17.5%;
    padding-top: 3px;
    padding-bottom: 15px;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.images {
    justify-content: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 31.8% 31.8% 31.8%;
    grid-template-rows: auto;
    padding: 10px 17% 0px 17%;
}
.images img {
    justify-items: center;
	width: 100%;
	box-shadow: 0px 0px 10px 1px hsla(0,0%,0%,0.25);
}

@media screen and (max-width: 6000px) {
	.images {
		
	}
}
@media screen and (max-width: 800px) {
	.images {
		
	}
}
@media screen and (max-width: 600px) {
	.images {
		
	}
}


