@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}
/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}
/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}
/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}
/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}
/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300; 
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}
/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

* {
    margin: 0; padding: 0;
}

/* Body */

html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-height: 100%
}
body {
	margin: auto;
    font-family: "SF Display";
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    height: 100%
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

/* Top Nav Bar */
#navbar {
	/*Nav Bar*/
    z-index: 1;
	margin: 0;
    height: 50px;
	width: 100%;
	background-color: white;
    box-shadow:
  0 1.7px 3.4px -10px rgba(0, 0, 0, 0.077),
  0 3.8px 7.8px -10px rgba(0, 0, 0, 0.111),
  0 6.6px 13.6px -10px rgba(0, 0, 0, 0.137),
  0 10.5px 21.5px -10px rgba(0, 0, 0, 0.16),
  0 16.2px 33.2px -10px rgba(0, 0, 0, 0.183),
  0 25.3px 51.9px -10px rgba(0, 0, 0, 0.209),
  0 42px 86.1px -10px rgba(0, 0, 0, 0.243),
  0 84px 172px -10px rgba(0, 0, 0, 0.32)
;

}
@media (min-height: 300px) {
	#navbar {
		position: sticky;
		top: 0;
	}
}

/* Zander Title */
.active {
	float: left;
	text-align: center;
	color: black;
    padding: 2.5px 0px 0px 5px;
	font-size: 33px;
	font-weight: 800;
	text-decoration: none;
	transition: 0.1s ease;
	text-shadow:
  0 1.8px 4.1px rgba(0, 0, 0, 0.125),
  0 6px 13.8px rgba(0, 0, 0, 0.185),
  0 27px 62px rgba(0, 0, 0, 0.31);
}
.active:hover {
	text-shadow:
  0 0.9px 2.4px rgba(0, 0, 0, 0.018),
  0 2px 5.5px rgba(0, 0, 0, 0.026),
  0 3.7px 10px rgba(0, 0, 0, 0.032),
  0 6.1px 16.5px rgba(0, 0, 0, 0.038),
  0 10.1px 27.2px rgba(0, 0, 0, 0.044),
  0 17.6px 47.6px rgba(0, 0, 0, 0.052),
  0 38px 103px rgba(0, 0, 0, 0.07);
	transition: 0.12s ease;
    transform: scale(1.05);
    background: linear-gradient(50deg, #616161, #272727, #f9f9f9, #000000, #000000, #000000, #f0f0f0, #000000, #616161);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
@keyframes AnimationName {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}

/* Dropdown Menu */
.dropmenu {
	float: left;
	overflow: hidden;
}

/* Button */
.icon{
    display: block;
	font-size: 25px;
	border: none;
	outline: none;
	color: black;
	padding: 10px 10px 10px 10px;
	transition: 0.1s ease;
	margin: 0;
}
.icon:hover {
    padding: 10px 10px 10px 10px;
	background-color: black;
	color: white;
    transition: 0.12s ease;
    transform: scale(1.25);
}

.dropmenu:hover #dropmenu-content {
    display: block;
}

/* Pages */
#dropmenu-content {
    display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	z-index: 1;
	border-radius: 0px 0px 5px 0px;
}
#dropmenu-content a{
    display: block;
	float: none;
	padding: 15px;
	color: black;
	font-size: 20px;
	font-weight: 800;
	font-family: inherit;
	text-decoration: none;
	text-shadow: 0px 0px 20px hsla(0,0%,0%,0.35);
}
.btmlink:hover {
	border-radius: inherit;
}

#dropmenu-content a:hover {
	color: white;
	background-color: black;
    transition: 0.12s ease;
}

/* Social Media */
#social{
    float: right;
	border: none;
    text-shadow:
  0 1.8px 4.1px rgba(0, 0, 0, 0.125),
  0 6px 13.8px rgba(0, 0, 0, 0.185),
  0 27px 62px rgba(0, 0, 0, 0.31);
}
#social a {
	margin: 6px 10px 0px 0px;
    display: inline-block;
	z-index: 1;
  	transition: 0.1s ease;
  	font-size: 30px;
	text-decoration: none;
    color: black;
}
#social a:hover {
    transition: 0.11s ease;
    transform: scale(1.2);
    text-shadow:
  0 1.8px 5.7px rgba(0, 0, 0, 0.141),
  0 6px 19.2px rgba(0, 0, 0, 0.209),
  0 27px 86px rgba(0, 0, 0, 0.35);
}
.fa-youtube:hover {
    color: #FF0000; 
}
.fa-instagram:hover {
    background: linear-gradient(153deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
    background-size: 1600% 1600%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-twitter:hover{
    color: #00acee;
}

/* Title */
h1{
    margin: 0;
	padding: 130px 0px 0px 0px;
	text-align: center;
	font-size: 72px;
	color: white;
}
h2{
    margin: 0;
    font-weight: bolder;
    color: white;
	margin-top: 0px;
	text-align: center;
	padding: 0px 0px 130px 0px;
}
.bigsur{
	background-image: url("Photos/BigSur.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    z-index: -1;
    width: 100%;
    bottom: 0;
    display: inline-block;
}
@media screen and (max-width: 705px) {
    h1 {
        font-size: 10.2vw;
        padding-top: 18.5vw;
    }
    h2 {
        font-size: 3.4vw;
        padding-bottom: 18.5vw;
    }
}




/* Lower Body */

.lower-body {
    overflow: hidden;
    margin: auto;
    max-width: 1000px;
    min-width: 375px;
}
.myinfo {
    padding: 80px 0px 50px 60px;
}

.myinfo-image {
}

.myinfo-image img{
    object-fit: cover;
    object-position: bottom;
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

.projects-title {
    max-width: 1000px;
    text-align: left;
    padding-left: 20px;
}
.projects-title a{
    color: black;
    font-size: 120px;
    font-weight: 900;
    text-decoration: none; 
    /* Color */
    background: linear-gradient(270deg, #e64736, #e1852d, #eee67e, #85e64e, #4ee6b8, #4e9be6, #664ee6, #e64e9d);
    background-size: 1600% 1600%;
    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
@media screen and (max-width: 560px){
    .projects-title a {
        font-size: 17.9vw;
    }
}
@media screen and (max-width: 410px){
    .active {
        padding-top: 8px;
        font-size: 7vw;
    }
}

/* Photos */
.images-title {
    white-space: nowrap;
    padding-top: 80px;
    padding-left: 20px;
    text-align: left;
    color: white;
    font-size: 86.5px;
    font-weight: 800;
    /* Color */
    background: linear-gradient(160deg, #44c98d, #078fbd, #ffd57c);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.emoji {
    font-size: 5px;
    width: 77px;
}
.images-info {
    display: block;
    overflow: hidden;
    padding-left: 34px;
    text-align: left;
    color: black;
    font-size: 28.7px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.gridimages {
    justify-content: center;
    display: grid;
    grid-area: gridimages;
    grid-gap: 30px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    max-width: 1000px;
}
.grid {
    position: relative;
}
.grid .grid-overlay {
    background: rgba(236,236,236,0.41);
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    margin:0;
    padding:0;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
}
.grid:hover .grid-overlay {
    opacity: 1;
}

.grid-image {
    justify-items: center;
	width: 100%;
    height: auto;
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.33);
}

.grid-details {
    position: absolute;
    text-align: left;
    width: 100%;
    top: 0%;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    text-shadow:
  0 0.2px 0.9px rgba(0, 0, 0, 0.037),
  0 0.5px 2.2px rgba(0, 0, 0, 0.053),
  0 0.9px 4.1px rgba(0, 0, 0, 0.065),
  0 1.6px 7.4px rgba(0, 0, 0, 0.077),
  0 2.9px 13.8px rgba(0, 0, 0, 0.093),
  0 7px 33px rgba(0, 0, 0, 0.13)
;









}

.grid:hover .grid-details {
    opacity: 1;
}

.grid-details i{
    color: white;
    padding: 15px 15px 15px 15px;
    float: left;
    font-size: 40px;
}

.grid-details h1{
    margin-top: -38%;
    padding-left: 20px;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.grid-details h2 {
    color: white;
    text-align: left;
    font-size: 22px;
    font-weight: 800;
}

@media screen and (max-width: 1016px){
    .grid-details h1{
       font-size: 2vw;
    }
    .grid-details p{
        font-size: 2.168vw;
    }
}

@media screen and (max-width: 960px) {
	.images-title {
		font-size: 9vw;
        padding-top: 8vw;
        padding-left: 2vw;
	}
    .images-info {
        font-size: 3vw;
        padding-left: 3.5vw;
    }
    .emoji {
        width: 8vw;
    }
}
@media screen and (max-width: 640px) {
    .gridimages {
        grid-gap: 20px;
        grid-template-columns: 45% 45%;
    } 
    .grid-details h1{
        font-size: 2.2vw;
    }
}
/* Film */
.film {
    margin: auto;
    background-color: transparent;
    z-index: 0;
    max-width: 1000px;
}
.film-title {
    white-space: nowrap;
    text-align: left;
    padding-left: 24px;
    font-size: 86.5px;
    font-weight: 800;
    /* Color */
    background: linear-gradient(132deg, #1631c6, #d76d05);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.film-info {
    display: block;
    overflow: hidden;
    padding-left: 34px;
    text-align: left;
    color: black;
    font-size: 28.7px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}
